<!DOCTYPE html>
<html>
<head>
    <link type = "text/css" rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
    <meta meta charset="UTF-8" content="width=device-width, user-scalable=no">
    <meta name="veiwpoint" >
    <title>Расчет трубопроводов</title>
    <link rel="icon" href="{{url_for('static', filename = 'images/titleFav.svg')}}" sizes="32x32">
    
</head>

<body>
    <!-- Верхняя часть-->
    <div class="topSide" style="top: 0px; left: 0px; right: 0px; height: 100px;">
        <div style="align-items: center">
            <span class="sideMenuBtn"> <img src="{{url_for('static', filename = 'images/menuButton.svg')}}" alt="Меню"  height="65px" width="65px"></span>
             <div class="toolBar">
                <!-- <a href="#" class="toolbarItem">Файл</a> -->
                <a href="#" class="toolbarItem" id="toolBarInnerConditions">Параметры среды</a>
                <a href="#" class="toolbarItem" id="toolBarBoundaryConditions">Граничные условия</a>
            </div>  
            <span id="conditionLbl"></span>
            <!-- <span id="boundaryLbl"></span> -->
            <div id = "manipulatingButtons2">
                <div  class="topMenuBtns2"  id="pauseBtn">
                    <a href="#"><img src="{{url_for('static', filename = 'images/pauseBtn.svg')}}" alt="Пауза" height="40px" width="40px"></a>
                </div>
                
                <div class="topMenuBtns2" id="resumeBtn" >
                    <a href="#"><img src="{{url_for('static', filename = 'images/startBtn.svg')}}" alt="Расчитать" height="40px" width="40px"> </a>
                </div>

                <div  class="topMenuBtns2"  id="reloadBtn">
                    <a href="#"><img src="{{url_for('static', filename = 'images/resetBtn.svg')}}" alt="Пауза" height="40px" width="40px"></a>
                </div>
            </div>
            <div id = "manipulatingButtons1">
                <div  class="topMenuBtns1"  id="delBtn">
                    <a href="#"><img src="{{url_for('static', filename = 'images/delBtn.svg')}}" alt="Удалить" height="35px" width="35px"></a>
                </div>
                
                <div class="topMenuBtns1" id="resetBtn" >
                    <a href="#"><img src="{{url_for('static', filename = 'images/resetBtn.svg')}}" alt="Сбросить" height="35px" width="35px"> </a>
                </div>
            </div>
            <div id="startBtnOuter">
                <span><a href="#" id = "startBtn">Рассчитать</a></span>
            </div>
        </div>  
    </div>

    <!-- Параметры среды -->
    <div id="envCond">
        <div class = 'textField'>
            <span id="closeFavCond" class="closeFav"><img src="{{url_for('static', filename = 'images/closeFVG.svg')}}" alt="Закрыть" height="20px" width="20px"> </span>
            
            <label class="textFieldLabel">Время расчета</label> 
            <span style="font-family: inherit; display: inline; "><input id="timeToIter" class="textFieldInput" type="number" value="500"> сек </span>
            
            <label class="textFieldLabel">Плотность:</label>
            <span><input id="density" class="textFieldInput" type="number" value="850">кг/м3</span>

            <label class="textFieldLabel">Вязкость:</label>
            <span><input id="viscosity" class="textFieldInput" type="number" value="10">сСт</span>
            
            <input id="envCondBtn" class ="textFieldButton" type="submit" value="Добавить">
        </div>
    </div>

<!-- Граничные условия -->
    <div id="boundaryCond">
        <div class = 'textField'>
            <span id="closeFavBoundaryCond" class="closeFav"><img src="{{url_for('static', filename = 'images/closeFVG.svg')}}" alt="Закрыть" height="20px" width="20px"> </span>
            
            <!-- <label class="textFieldLabel">Левая граница</label>  -->
            <fieldset>
                <legend>Левая граница</legend>
                <div>
                  <input type="radio" id="leftPressure" name="leftBoundary" value="1"
                         checked>
                  <label for="leftPressure">Указать давление</label>
                </div>

                <div>
                  <input type="radio" id="leftVelocity" name="leftBoundary" value="2">
                  <label for="leftVelocity">Указать скорость</label>
                </div>

                <div id ="leftBoundaryInput">
                    <label id = "leftBoundaryLbl" class="textFieldLabel">Давление на левой границе:</label>
                    <input id="leftBoundaryVal" class="textFieldInput" type="number" value="0"><span id = "leftBoundaryValLbl"> Па</span>
                </div>
            </fieldset>

            <fieldset>
                <legend>Правая граница</legend>
                <div>
                  <input type="radio" id="rightPressure" name="rightBoundary" value="1"
                         checked>
                  <label for="rightPressure">Указать давление</label>
                </div>

                <div>
                  <input type="radio" id="rightVelocity" name="rightBoundary" value="2">
                  <label for="rightVelocity">Указать скорость</label>
                </div>

                <div id ="rightBoundaryInput">
                    <label id = "rightBoundaryLbl" class="textFieldLabel">Давление на правой границе:</label>
                    <input id="rightBoundaryVal" class="textFieldInput" type="number" value="0"><span id = "rightBoundaryValLbl">Па</span>
                </div>
            </fieldset>
            
            <input id="boundaryCondBtn" class ="textFieldButton" type="submit" value="Добавить">
        </div>
    </div>

    <!-- Меню слева для добавления элементов в т/п -->
    <div class = "leftSide">
        <div style=" display: flex; margin-top: 0%;">
            <ul class = "sideMenuList">
                <li class = "objectButtons">
                    <span class="circleImage"><img src="{{url_for('static', filename = 'images/PipeFav.svg')}}" alt="Pipeline" height="65px" width="65px"></span>
                    <span class="menuTextBefore">Трубопровод</span>
                </li>
                <li class = "objectButtons">
                    <span class="circleImage"><img src="{{url_for('static', filename = 'images/PumpFav.svg')}}" alt="Pump"  height="65px" width="65px"></span>
                    <span class="menuTextBefore">Насос</span>
                </li>
                <li class = "objectButtons" >
                    <span class="circleImage"><img src="{{url_for('static', filename = 'images/ValveGateFav.svg')}}" alt="Pump"  height="65px" width="65px"></span>
                    <span class="menuTextBefore">Задвижка</span>
                </li>
                <li class = "objectButtons">
                    <span class="circleImage"><img src="{{url_for('static', filename = 'images/SafetyValveFav.svg')}}" alt="Pump"  height="65px" width="65px"></span>
                    <span class="menuTextBefore">Пред. клапан</span>
                </li>
            </ul>
        </div>
    </div>


    <!--Рабочая область-->
    <div class="workSpace" >
        <svg id="mainSVG" >
            
        </svg>
    </div>


<!-- форма для данных трубопровода -->
    <div id="pipeForm">
        <div class = 'textField'>
            <span id="closeFavPipe" class="closeFav"><img src="{{url_for('static', filename = 'images/closeFVG.svg')}}" alt="Закрыть" height="20px" width="20px"> </span>
            
            <label class="textFieldLabel">Длина:</label> 
            <span style="font-family: inherit; display: inline; "><input id="lengthOfPipe" class="textFieldInput" type="number" value="100"> км </span>
            
            <label class="textFieldLabel">Диаметр:</label>
            <span><input id="diameterOfPipe" class="textFieldInput" type="number" value="1000"> мм</span>
            
            <input id="pipeFormBtn" class ="textFieldButton" type="submit" value="Добавить">
        </div>
    </div>

<!-- форма для данных насоса -->
    <div id="pumpForm">
        <div class = 'textField'>
            <span id="closeFavPump"  class="closeFav"><img src="{{url_for('static', filename = 'images/closeFVG.svg')}}" alt="Закрыть" height="20px" width="20px"> </span>

            <label class="textFieldLabel">Коэфициент аппроксимации а:</label> 
            <input id="aOfPump" class="textFieldInput" type="number" value="310">

            <label class="textFieldLabel">Коэфициент аппроксимации b:</label>
            <input id="bOfPump" class="textFieldInput" type="number" value="0.000008">

            <select name="pumpSelect" id="pumpSelect" class="objSelect">
                <option value="1">Включается на</option>
                <option value="2">Выключается на</option>
            </select>

            <span style="font-family: inherit; display: inline;"> <input id="timePump" class="textFieldInputTime" type="number" value="0" > 
                сек</span>

            <label class="textFieldLabel">Время выбега:</label>
            <span style="font-family: inherit; display: inline; "> <input id="Run-outTimeOfPump" class="textFieldInputTime" type="number" value="20" > 
                сек</span>
            <input id="pumpFormBtn" class ="textFieldButton" type="submit" value="Добавить">
        </div>
    </div>


    <!-- форма для данных задвижки -->
    <div id="gateValveForm">
        <div class = 'textField'>
            <span id="closeFavGateValve"  class="closeFav"><img src="{{url_for('static', filename = 'images/closeFVG.svg')}}" alt="Закрыть" height="20px" width="20px"> </span>

            <select name="gateValveSelect" id="gateValveSelect" class="objSelect">
                <option value="1">Открывается на</option>
                <option value="2">Закрывается на</option>
            </select>
            <span style="font-family: inherit; display: inline;"> <input id="timeGateValve" class="textFieldInputTime" type="number" value="100" > 
                сек</span>

            <label class="textFieldLabel">Время открытия/закрытия:</label>
            <span style="font-family: inherit; display: inline; "> <input id="Run-outTimeOfGateValve" class="textFieldInputTime" type="number" value="100" > 
                сек</span>

            <label class="textFieldLabel">Процент открытия/закрытия:</label>
            <input id="percentGateValve" class="textFieldInput" type="number" value="100">

            <input id="gateValveFormBtn" class ="textFieldButton" type="submit" value="Добавить">
        </div>
    </div>
    <!-- форма для данных предохранительного клапана -->
    <div id="safeValveForm">
        <div class = 'textField'>
            <span id="closeFavSafeValve"  class="closeFav"><img src="{{url_for('static', filename = 'images/closeFVG.svg')}}" alt="Закрыть" height="20px" width="20px"> </span>

            <label class="textFieldLabel">Коэфициент расхода</label>
            <span style="font-family: inherit; display: inline; "> <input id="kForSafeValve" class="textFieldInputTime" type="number" value="0.5"> 
                </span>

            <label class="textFieldLabel">Давление срабатывания</label>
            <span style="font-family: inherit; display: inline; ">
                <input id="startPresure" class="textFieldInput" type="number" value="9"> атм
            </span>
            <!-- <span style="font-family: inherit; display: inline; ">
                <input id="openPresure" class="textFieldInput" type="number" value="100"> атм
            </span> -->
            <input id="safeValveFormBtn" class ="textFieldButton" type="submit" value="Добавить">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@3.1.3/dist/socket.io.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{url_for('static', filename = 'js/chart.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/manipulations.js')}}"></script>
    
</body>
</html>