<!DOCTYPE html>
<html>
<head>
    <link type = "text/css" rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
    <meta meta charset="UTF-8" content="width=device-width, user-scalable=no">
    <meta name="veiwpoint" >
    <title>Расчет трубопроводов</title>
</head>

<body>
    <!-- Верхняя часть-->
    <div class="topSide" style="top: 0px; left: 0px; right: 0px; height: 100px;">
        <div style="align-items: center">
            <span class="sideMenuBtn"> <img src="{{url_for('static', filename = 'images/menuButton.svg')}}" alt="Меню"  height="65px" width="65px"></span>
        </div>  
    </div>

    <!-- Меню слева для добавления элементов в т/п -->
    <div class = "leftSide">
        <div style=" display: flex; margin-top: 0%;">
            <ul class = "sideMenuList">
                <li class = "objectButtons">
                    <span class="circleImage"><img src="{{url_for('static', filename = 'images/PipeFav.svg')}}" alt="Pipeline" height="65px" width="65px"></span>
                    <span class="menuTextBefore">Трубопровод</span>
                </li>
                <li class = "objectButtons">
                    <span class="circleImage"><img src="{{url_for('static', filename = 'images/PumpFav.svg')}}" alt="Pump"  height="65px" width="65px"></span>
                    <span class="menuTextBefore">Насос</span>
                </li>
                <li class = "objectButtons" >
                    <span class="circleImage"><img src="{{url_for('static', filename = 'images/ValveGateFav.svg')}}" alt="Pump"  height="65px" width="65px"></span>
                    <span class="menuTextBefore">Задвижка</span>
                </li>
                <li class = "objectButtons">
                    <span class="circleImage"><img src="{{url_for('static', filename = 'images/SafetyValveFav.svg')}}" alt="Pump"  height="65px" width="65px"></span>
                    <span class="menuTextBefore">Пред. клапан</span>
                </li>
            </ul>
        </div>
    </div>


    <!--Рабочая область-->
    <div class="workSpace" >
        <svg id="mainSVG" >
            
        </svg>
    </div>


<!-- форма для данных трубопровода -->
    <div id="pipeForm">
        <div class = 'textField'>
            <span id="closeFavPipe" class="closeFav"><img src="{{url_for('static', filename = 'images/closeFVG.svg')}}" alt="Закрыть" height="20px" width="20px"> </span>
            
            <label class="textFieldLabel">Длина:</label> 
            <span style="font-family: inherit; display: inline; "><input id="lengthOfPipe" class="textFieldInput" type="number" value="required"> км </span>
            
            <label class="textFieldLabel">Диаметр:</label>
            <span><input id="diameterOfPipe" class="textFieldInput" type="number" value="required"> мм</span>
            
            <input id="pipeFormBtn" class ="textFieldButton" type="submit" value="Добавить">
        </div>
    </div>

<!-- форма для данных насоса -->
    <div id="pumpForm">
        <div class = 'textField'>
            <span id="closeFavPump"  class="closeFav"><img src="{{url_for('static', filename = 'images/closeFVG.svg')}}" alt="Закрыть" height="20px" width="20px"> </span>

            <label class="textFieldLabel">Коэфициент аппроксимации а:</label> 
            <input id="aOfPump" class="textFieldInput" type="number" value="required">

            <label class="textFieldLabel">Коэфициент аппроксимации b:</label>
            <input id="bOfPump" class="textFieldInput" type="number" value="required">

            <select name="pumpSelect" id="pumpSelect" class="objSelect">
                <option value="1">Включается на</option>
                <option value="2">Выключается на</option>
            </select>

            <span style="font-family: inherit; display: inline;"> <input id="timePump" class="textFieldInputTime" type="number" value="required" > 
                сек</span>

            <label class="textFieldLabel">Время выбега:</label>
            <span style="font-family: inherit; display: inline; "> <input id="Run-outTimeOfPump" class="textFieldInputTime" type="number" value="required" > 
                сек</span>
            <input id="pumpFormBtn" class ="textFieldButton" type="submit" value="Добавить">
        </div>
    </div>


    <!-- форма для данных задвижки -->
    <div id="gateValveForm">
        <div class = 'textField'>
            <span id="closeFavGateValve"  class="closeFav"><img src="{{url_for('static', filename = 'images/closeFVG.svg')}}" alt="Закрыть" height="20px" width="20px"> </span>

            <select name="gateValveSelect" id="gateValveSelect" class="objSelect">
                <option value="1">Открывается на</option>
                <option value="2">Закрывается на</option>
            </select>
            <span style="font-family: inherit; display: inline;"> <input id="timeGateValve" class="textFieldInputTime" type="number" value="required" > 
                сек</span>

            <label class="textFieldLabel">Время открытия/закрытия:</label>
            <span style="font-family: inherit; display: inline; "> <input id="Run-outTimeOfGateValve" class="textFieldInputTime" type="number" value="required" > 
                сек</span>

            <label class="textFieldLabel">Процент открытия/закрытия:</label>
            <input id="percentGateValve" class="textFieldInput" type="number" value="required">

            <input id="gateValveFormBtn" class ="textFieldButton" type="submit" value="Добавить">
        </div>
    </div>

    <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
</body>
</html>